<div class="Bg container mt-5 p-4">
  <h1>The Word Guessing Game</h1>
  <h2 class="h2-header text-center">About this project</h2>
  <p>Text goes here</p>
  <div class="buttons">
    <a href="/" class="btn btn-success">Back to game</a>
    <a
      href="/highscores"
      class="btn btn-warning"
      id="btn-warning"
    >Highscores</a>
  </div>
</div>