.h2-header {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

form {
  padding-top: 4rem;
  font-size: 2rem;
  text-align: center;
}

input[type="range"] {
  width: 200px;
  margin-left: 1rem;
  text-align: center;
}

input[type="checkbox"] {
  margin-left: 1rem;
  width: 1.5rem;
  height: 1.5rem;
}

input[type="text"] {
  text-align: center;
  font-weight: bold;
}

p {
  text-align: center;
}

Button {
  width: 8rem;
  height: 3.2rem;
}
