.winModal {
  top: -20%;
  transform: translateY(-30%);
}

.modal-header {
  flex-direction: column-reverse;
  font-weight: bold;
}

.modal-title {
  text-align: center;
  font-weight: bold;
}

div.modal-footer {
  justify-content: space-evenly;
}

.btn.btn-warning {
  font-size: 1rem;
  padding: 0;
}

.btn.btn-warning:disabled {
  background-color: gray;
  border-color: gray;
}
